<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="">

<head th:replace="admin/layout :: header">
    <style>
        .modal-ku {
            width: 750px;
            margin: auto;
        }
    </style>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- left_nav -->
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <th:block th:replace="admin/layout :: nav-title">
                </th:block>
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section" th:replace="admin/layout :: user">
                    </div>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav" th:replace="admin/layout :: top_nav">
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_content">
                        <button type="button" class="btn-sm btn-success mb-3" onclick="orders.addNew()">
                            Tạo đơn đặt hàng mới
                        </button>
                        <div class="table-responsive">
                            <table id="datatables" class="table table-striped jambo_table bulk_action">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="admin/layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!--Modal-->
<div class="modal" id="modalAddEdit">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" onclick="orders.resetForm()" aria-label="Close">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="formAddEdit" th:name="formAddEdit">
                    <input type="hidden" name="id" id="id" class="form-control" required>
                    <div class="row form-group">
                        <div class="col-3">
                            <label style="font-size: larger">Nhà cung cấp</label>
                        </div>
                        <div class="col-9 form-label-group">
                            <select class="form-control" id="supplier" name="supplier">
                            </select>
                            <p style="color: red;display: none" class="ui-state-error-text"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row form-group">
                        <div class="col-3">
                            <label style="font-size: larger">Thêm sản phẩm</label>
                        </div>
                        <div class="col-5">
                            <label style="font-size: larger">Tên sản phẩm</label>
                        </div>
                        <div class="col-2">
                            <label style="font-size: larger">Số lượng</label>
                        </div>
                        <div class="col-2">
                            <label style="font-size: larger">Xác nhận</label>
                        </div>
                    </div>
                    <form  id="formOrder" th:name="formOrder">
                        <div class="row form-group">
                            <div class="col-3"></div>
                            <div class="col-5">
                                <select class="form-control" id="product" name="product">
                                </select>
                                <p style="color: red;display: none" class="ui-state-error-text"></p>
                            </div>
                            <div class="col-2">
                                <input type="number" id="quantity" name="quantity" class="form-control" required>
                                <p style="color: red;display: none" class="ui-state-error-text"></p>
                            </div>
                            <div class="col-2">
                                <a class="btn btn-outline-success ml-2" onclick="orders.save()" style="font-size: medium">
                                    <i class="far fa-check" title="Lưu"></i> Chọn
                                </a>
                            </div>
                        </div>
                    </form>
                    <div class="row form-group">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings" style="background-color: #26B99A">
                                    <th class="column-title">STT</th>
                                    <th class="column-title">Sản phẩm</th>
                                    <th class="column-title">Số lượng</th>
                                    <th class="column-title no-link last"><span class="nobr">Thao tác</span></th>
                                </tr>
                                </thead>
                                <tbody id="orderTable" >

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <a class="btn btn-success" onclick="orders.save()">Lưu</a>
                        <button type="button" class="btn btn-warning" onclick="orders.resetForm()" data-dismiss="modal" aria-label="Close">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="admin/layout :: block-script"></th:block>

<th:block th:replace="admin/layout :: block-dataTable"></th:block>

<script src="/admin/build/js/user/supplier.js"></script>
<script src="/admin/build/js/user/product.js"></script>
<script src="/admin/build/js/user/order_detail.js"></script>
<script src="/admin/build/js/user/order.js"></script>

<script>
    $(document).ready(function () {
        orders.init();
        products.listProduct();
        suppliers.listSupplier();
        order_details.getAllOrderDetail();
    });
</script>

</body>
</html>

